<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iGSE.mapper.CustomerMapper">

	<resultMap id="CustomerResultMap" type="Customer">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="address" property="address" />
		<result column="propertyType" property="propertyType" />
		<result column="bedrooms" property="bedrooms" />
		<result column="role" property="role" />
		<result column="balance" property="balance" />

	</resultMap>
	
	<resultMap id="MeterReadingResultMap" type="MeterReading">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="e_meter_reading_day" property="eMeterReadingDay" />
		<result column="e_meter_reading_night" property="eMeterReadingNight" />
		<result column="g_meter_reading" property="gMeterReading" />
		<result column="submission_date" property="submissionDate" />

	</resultMap>
	
	<resultMap id="BillResultMap" type="Bill">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="e_meter_reading_day" property="eMeterReadingDay" />
		<result column="e_meter_reading_night" property="eMeterReadingNight" />
		<result column="g_meter_reading" property="gMeterReading" />
		<result column="bill_date" property="billDate" />
		<result column="days" property="days" />
		<result column="due" property="due" />
		<result column="status" property="status" />

	</resultMap>
	
	<resultMap id="MeterResultMap" type="Meter">
		<id column="id" property="id" />
		<result column="e_meter_price_day" property="eMeterPriceDay" />
		<result column="e_meter_price_night" property="eMeterPriceNight" />
		<result column="g_meter_price" property="gMeterPrice" />
		<result column="submission_date" property="submissionDate" />
		<result column="standing_charge" property="standingCharge" />
		<result column="active" property="active" />
		
	</resultMap>

	<select id="findByEmail" parameterType="String"
		resultMap="CustomerResultMap">
		select * from customer where email =#{email}
	</select>

	<insert id="register" parameterType="Customer">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			select
			nextval('CUSTOMER_SEQ')
		</selectKey>
		INSERT INTO
		customer
		(id,email,password,address,property_type,bedrooms,role,balance)
		VALUES(#{id},
		#{email},#{password},#{address},#{propertyType},#{bedrooms},#{role},#{balance})
	</insert>

	<insert id="submitMeterReading" parameterType="MeterReading">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			select
			nextval('METER_READING_SEQ')
		</selectKey>
		INSERT INTO
		meter_reading (id, email,
		e_meter_reading_day,e_meter_reading_night,g_meter_reading,submission_date)
		VALUES(#{id}, #{email},
		#{eMeterReadingDay},#{eMeterReadingNight},#{gMeterReading},#{submissionDate})
	</insert>

	<select id="getBalance" parameterType="String"
		resultType="String">
		select balance from customer where email =#{email}
	</select>
	
	<select id="getMeterReadings" parameterType="String"
		resultMap="MeterReadingResultMap">
		select * from meter_reading where email =#{email} ORDER BY id DESC
	</select>
	
	<select id="getBill" parameterType="String"
		resultMap="BillResultMap">
		select * from bill where email =#{email} ORDER BY id DESC
	</select>
	
	<select id="getUnPaidBill" parameterType="String"
		resultMap="BillResultMap">
		select * from bill where email =#{email} and status = 'un-paid' ORDER BY id DESC
	</select>

	<update id="topUp" parameterType="Customer">
		UPDATE
		Customer SET
		balance =#{balance}
		WHERE id=#{id}
	</update>
	
	<update id="updateBalance" parameterType="Customer">
		UPDATE
		Customer SET
		balance =#{balance}
		WHERE email=#{email}
	</update>
	
	<insert id="generateBill" parameterType="Bill">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			select
			nextval('BILL_SEQ')
		</selectKey>
		INSERT INTO
		bill (id, bill_date, email,
		e_meter_reading_day,e_meter_reading_night,g_meter_reading, status, days, due)
		VALUES(#{id}, #{billDate}, #{email},
		#{eMeterReadingDay},#{eMeterReadingNight},#{gMeterReading}, #{status}, #{days}, #{due})
	</insert>
	
	<update id="payBill" parameterType="Bill">
		UPDATE
		Bill SET
		status = 'paid'
		WHERE email=#{email}
	</update>
	
	<select id="checkSubmissionDate" parameterType="HashMap"
		resultMap="MeterReadingResultMap">
		select * from meter_reading where submission_date = #{submissionDate} and submission_date > #{billDate}
	</select>
	
	<select id="getLastActiveMeterPrice"
		resultMap="MeterResultMap">
		select * from meter m where m.active LIKE('Y')
	</select>
	
</mapper>