<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iGSE.mapper.CustomerMapper">

	<resultMap id="CustomerResultMap" type="Customer">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="address" property="address" />
		<result column="propertyType" property="propertyType" />
		<result column="bedrooms" property="bedrooms" />
		<result column="role" property="role" />
		<result column="balance" property="balance" />

	</resultMap>

	<select id="findByEmail" parameterType="String"
		resultMap="CustomerResultMap">
		select * from customer where email =#{email}
	</select>

	<insert id="register" parameterType="Customer">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			select
			nextval('CUSTOMER_SEQ')
		</selectKey>
		INSERT INTO
		customer
		(id,email,password,address,property_type,bedrooms,role,balance)
		VALUES(#{id},
		#{email},#{password},#{address},#{propertyType},#{bedrooms},#{role},#{balance})
	</insert>

	<insert id="submitMeterReading" parameterType="MeterReading">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			select
			nextval('METER_READING_SEQ')
		</selectKey>
		INSERT INTO
		meter_reading (id, email,
		e_meter_reading_day,e_meter_reading_night,g_meter_reading,submission_date)
		VALUES(#{id}, #{email},
		#{eMeterReadingDay},#{eMeterReadingNight},#{gMeterReading},#{submissionDate})
	</insert>

	<select id="getBalance" parameterType="String"
		resultType="String">
		select balance from customer where email =#{email}
	</select>

	<update id="topUp" parameterType="Customer">
		UPDATE
		Customer SET
		balance =#{balance}
		WHERE id=#{id}
	</update>
</mapper>